body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-weight: bold;
}

h3{
    font-size: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 100px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    border: grey;
    border-width: 3px;
    border-style: solid;
}

.directions{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#first{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}